.card-container{
    margin: 0px 0px 0px 180px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 20px;
    border: 1px solid rgb(194, 190, 190);
    padding: 20px 20px 10px 20px;
    cursor: pointer;
}
.card-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}
.card-img img{
    width: 150px;
    margin-bottom: 20px;
}
.review{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-top: 5px;
}
.no-review{
    font-size: 13px;
}
.last-card{
    display: flex;
    justify-content: space-between;
}
.star-review{
    color: rgb(235, 235, 1);
}
